type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  id: 5931d45c0cf2794ece68c2bd
  name: dybbuk4u-dev
  displayName: dybbuk4u (dev)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/5931d45c0cf2794ece68c2bd'
  externalOrgId: 2135501a-f5cd-4225-8d26-cd16132c5918
  externalInviteOverride: 'https://console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: 2135501a-f5cd-4225-8d26-cd16132c5918
  externalNativeOrgId: c9f19c68-3da8-4aa2-bb58-2fb79da9fda0
  bluemix:
    inviteUri: 'https://console.ng.bluemix.net/apis/catalog/invitation'
    organization: c9f19c68-3da8-4aa2-bb58-2fb79da9fda0
    space: 2135501a-f5cd-4225-8d26-cd16132c5918
catalog:
  id: 5931d45d0cf2794ece68c2c9
  orgId: 5931d45c0cf2794ece68c2bd
  name: Sandbox
  shortName: sb
  owner:
    id: 5931c21d0cf2794ece68b5bf
    username: dybbuk4u@yahoo.com
    context: apimanager
    idpId: 58341db4e63b1219f0f068d1
    email: dybbuk4u@yahoo.com
    firstName: dybbuk haint
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2017-06-02T21:04:50.840+0000'
    url: 'https://us.apiconnect.ibmcloud.com/v1/users/5931c21d0cf2794ece68b5bf'
  apiCenter: false
  baseUrl: 'https://api.us.apiconnect.ibmcloud.com/dybbuk4u-dev/sb'
  portalType: BASIC
  portalUrl: 'https://developer.us.apiconnect.ibmcloud.com/dybbuk4u-dev/sb'
  advPortalUrl: 'https://sb-dybbuk4u-dev.developer.us.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  idp: 5931d45e0cf2794ece68c2ca
  idps:
    - 5931d45e0cf2794ece68c2ca
  availableRoles:
    - developer
    - viewer
  default: false
  autoDeploy: true
  gatewayClusterUrl: /gatewayClusters/PRODAPIC_APIMGMT_GATEWAY
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5931d45e0cf2794ece68c2d2
  testAppEnabled: true
  testAppCredentials:
    clientId: 1bbd6d72-1282-4820-81bc-73b796b2d3ee
    clientSecret: hR5nB4qK6iR3cG0jT3wS3fS3bN4jK3eA2aP3aP1vY8hS2bV2iY
  createdAt: '2017-06-02T21:10:54.295+0000'
  updatedAt: '2017-06-02T21:10:54.295+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: apim-ops@wwpdl.vnet.ibm.com
  url: >-
    https://us.apiconnect.ibmcloud.com/v1/orgs/5931d45c0cf2794ece68c2bd/environments/5931d45d0cf2794ece68c2c9
  productDeploymentApprovalRequiredStates: []
  orgName: dybbuk4u-dev
space:
  none: true
app:
  metadata:
    guid: 4a1f507d-6730-4613-900d-0c706863c06a
  entity:
    guid: 4a1f507d-6730-4613-900d-0c706863c06a
    name: test-app-1
    routes:
      - guid: 670bc21d-bc0a-4519-b276-c0d5d1e77997
        host: apiconnect-4a1f507d-6730-4613-900d-0c706863c06a
        port: null
        path: ''
        domain:
          guid: 33b34d1f-4ce1-4a18-a29f-f713cf46f75e
          name: dybbuk4u-dev.apic.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: 33b34d1f-4ce1-4a18-a29f-f713cf46f75e
        name: dybbuk4u-dev.apic.mybluemix.net
        owning_organization_guid: c9f19c68-3da8-4aa2-bb58-2fb79da9fda0
      - guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
        name: mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: 2135501a-f5cd-4225-8d26-cd16132c5918
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.10.2, buildpack-v3.12-20170505-0656)'
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 9647b7e7-8472-450a-8cfa-ec8daff638be
    command: null
    console: true
    debug: null
    staging_task_id: 86cb1513def04ed6bb6666eb86a2a54b
    package_state: STAGED
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2017-06-02T21:18:18Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports: null
id: a903ab31-a897-4d54-b134-157f01f53f38
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
workspaceDir:
  path: /Users/sequoia/projects/microservices-code-along/books-api
